---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import PagePreview from '../components/PagePreview.astro';
import Hero from '../components/Hero.astro';
import Values from '../components/Values.astro';
import Intro from '../components/Intro.astro';
const writingCollection = await getCollection('writing', ({ data }) => !!data.home.enable);
const portfolioCollection = await getCollection('portfolio', ({ data }) => !!data.home.enable);
const introEntry = await getEntry('intro', 'paragraph');
const { Content } = await introEntry.render();
const title = 'Grayson Gail West';
---

<Layout title='Grayson Gail West'>
  <Hero title={title} />

  <div class='intro-container'>
    <Intro title={introEntry.data.title} greeting={introEntry.data.greeting}>
      <div class='intro-content'>
        <Content />
      </div>
    </Intro>
  </div>
  <Values />

  <div class='page-previews'>
    <!--<PagePreview path='how-i-lead' title='How I Lead' children={writingCollection} /> -->
    <PagePreview path='case-studies' title='Case Studies' children={portfolioCollection} />
  </div>
</Layout>

<style>
  .page-previews {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
</style>
