---
import BackgroundImage from './BackgroundImage.astro';
import { Picture } from 'astro:assets';

interface Props {
  title: string;
  bodyText: string;
  descriptors?: string[];
  linkPath: string;
  classes?: string[];
  backgroundImage: typeof Picture.prototype;
}

const {
  title,
  bodyText,
  linkPath,
  backgroundImage,
  descriptors = [],
  classes = [],
  ...rest
} = Astro.props;
---

<script>
  positionDescriptors();
  window.addEventListener('resize', () => positionDescriptors());

  function positionDescriptors() {
    const descriptorLists = document.querySelectorAll('div.descriptors ul');

    [...descriptorLists].forEach((list) => {
      const listItems = list.querySelectorAll('li');
      const positionOfFirstListItem = listItems[0].getBoundingClientRect().left;

      [...listItems].forEach((listItem) => {
        listItem.style['list-style-type'] =
          listItem.getBoundingClientRect().left == positionOfFirstListItem ? 'none' : 'disc';
      });
    });
  }
</script>

<article class:list={['card', ...classes]} {...rest}>
  <BackgroundImage image={backgroundImage} alt='' />
  <div class='icon-container'>
    <slot name='icon' />
  </div>
  <div class='card-container'>
    <h3 class='card-title'>{title}</h3>
    <div class='card-body'>
      <div class='body-image-container'>
        <slot name='body' />
      </div>
      <div class='card-rollover'>
        <Fragment set:html={bodyText} />
      </div>
    </div>
    <div class='card-footer'>
      <a href={linkPath} class='learn-more-link'>Learn more</a>
    </div>
    {
      descriptors.length ? (
        <div class='descriptors'>
          <ul>
            {descriptors.map((descriptor) => (
              <li>{descriptor}</li>
            ))}
          </ul>
        </div>
      ) : (
        ''
      )
    }
  </div>
</article>

<style>
  .icon-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      max-width: 100%;
      height: 30%;
    }
  }

  .card-title {
    width: fit-content;
    padding: 10px;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    color: var(--white);
    text-transform: uppercase;
    background: var(--color-heading-background);
  }

  .learn-more-link {
    align-self: flex-end;
    padding: 10px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 800;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    background: var(--color-heading-background);

    &::before {
      position: absolute;
      inset: 0;
      z-index: 2;
      content: '';
    }
  }

  .card-rollover {
    height: 100%;
    padding: 16px;
    margin: 14px 0;
    font-family: 'Source Serif 4', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--white);
    background: var(--color-background);
  }

  .card-rollover,
  .learn-more-link {
    opacity: 0;
    transition: 250ms ease-in-out;
  }

  .descriptors {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 6px;
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--white);
    text-transform: uppercase;
    white-space: nowrap;
    background: var(--color-heading-background);
    opacity: 1;
    transition: all 150ms ease-in-out;

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      padding: 0;
      margin: 0;
      line-height: 1;
      list-style: none;
    }

    li {
      list-style-position: inside;
    }
  }

  .card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-footer {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .body-image-container {
    position: absolute;
    top: 0;
    z-index: 0;

    picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }

  .card {
    position: relative;
    padding: 20px;
    color: black;
    background: var(--white);

    &:focus-within {
      outline: 2px solid red;

      .card-rollover {
        z-index: 2;
        opacity: 1;
      }

      .learn-more-link {
        opacity: 1;
      }

      .descriptors {
        z-index: -1;
        opacity: 0;
      }
    }

    &:hover {
      .descriptors {
        opacity: 0;
      }

      .card-rollover {
        z-index: 2;
        opacity: 1;
      }

      .learn-more-link {
        opacity: 1;
      }
    }
  }
</style>
