---
import type { CollectionEntry } from 'astro:content';
import Card from './Card.astro';
import { Picture, Image } from 'astro:assets';

interface Props {
  basePath: string;
  collection: CollectionEntry<'portfolio' | 'writing'>[];
}

const { collection, basePath } = Astro.props;
---

<div class:list={['content-preview-masonry', `grid-rows-${collection.length}`]}>
  {
    collection.map((item) => (
      <Card
        title={item.data.title}
        bodyText={item.data.summary}
        linkPath={`${basePath}/${item.slug}`}
        classes={[`cols-${item.data.preview.grid.columns}`, `rows-${item.data.preview.grid.rows}`]}
      >
        <Picture src={item.data.background} alt='' inferSize={false} />
        {item.data.icon && <Image src={item.data.icon} alt='' class='icon' />}
        {item.data.screenshot && (
          <Picture
            slot='body'
            src={item.data.screenshot.image}
            alt={item.data.screenshot.altText}
            class='screenshot'
          />
        )}{' '}
      </Card>
    ))
  }
</div>

<style lang='scss'>
  .icon {
    position: relative;
    height: 30%;
  }

  .content-preview-masonry {
    --grid-layout-gap: 10px;
    --grid-column-count: 3;
    --grid-item-min-width: 300px;

    /**
   * Calculated values.
   */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
  }

  @for $gridSpanCount from 1 through 12 {
    .rows-#{$gridSpanCount} {
      grid-row: span $gridSpanCount;
    }

    .cols-#{$gridSpanCount} {
      grid-column: span $gridSpanCount;
    }
  }
</style>
