---
import type { CollectionEntry } from 'astro:content';

import CardContentPortfolio from './CardContentPortfolio.astro';
import CardContentWriting from './CardContentWriting.astro';

interface Props {
  basePath: string;
  collection: CollectionEntry<'portfolio' | 'writing'>[];
}

const { collection, basePath } = Astro.props;

function highestRowCount(collection: CollectionEntry<'portfolio' | 'writing'>[]): number {
  return collection.reduce((previous, current) => {
    const currentRowCount = current.data.preview.grid.rows;
    return currentRowCount > previous ? currentRowCount : previous;
  }, 0);
}

function buildClasses(item: CollectionEntry<'portfolio' | 'writing'>): string[] {
  return [`cols-${item.data.preview.grid.columns}`, `rows-${item.data.preview.grid.rows}`];
}

function buildLinkPath(item: CollectionEntry<'portfolio' | 'writing'>): string {
  return `${basePath}/${item.slug}`;
}
---

<div class:list={['content-preview-masonry', `grid-rows-${highestRowCount(collection)}`]}>
  {
    collection.map((item) => {
      return 'screenshot' in item.data ? (
        <CardContentPortfolio
          linkPath={buildLinkPath(item)}
          content={item as CollectionEntry<'portfolio'>}
          classes={buildClasses(item)}
        />
      ) : (
        <CardContentWriting
          linkPath={buildLinkPath(item)}
          content={item as CollectionEntry<'writing'>}
          classes={buildClasses(item)}
        />
      );
    })
  }
</div>

<style lang='scss' is:global>
  .icon {
    position: relative;
    height: 30%;
  }

  .content-preview-masonry {
    --grid-layout-gap: 10px;
    --grid-column-count: 3;
    --grid-item-min-width: 300px;

    /**
   * Calculated values.
   */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
  }

  @for $gridSpanCount from 1 through 12 {
    .rows-#{$gridSpanCount} {
      grid-row: span $gridSpanCount;
    }

    .cols-#{$gridSpanCount} {
      grid-column: span $gridSpanCount;
    }
  }
</style>
