---
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
const content = await getEntry('footer', 'footer');
---

<footer class='footer'>
  <!-- TODO: turn into reusable component: "Site Logo"? -->
  <div class='main-content'>
    <span class='site-name'>{content.data.title}</span>
    <a href={`mailto:${content.data.email}`}>{content.data.email}</a>
  </div>

  <nav class='footer-nav' aria-label='footer links'>
    {
      content.data.links.map((link) => (
        <a href={link.url}>
          {link.image != undefined ? (
            <Image src={link.image} alt={link.title} format='svg' />
          ) : (
            link.title
          )}
        </a>
      ))
    }
  </nav>
</footer>

<style>
  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 38px 29px;
    color: var(--color-logo);
    background: var(--color-heading-background);

    .main-content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      align-items: center;
      white-space: nowrap;
    }
  }

  .footer-nav {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  .site-name {
    margin-right: 36px;
    font-size: clamp(1.125rem, 7vw, 1.75rem);
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  a {
    font-size: clamp(1rem, 4vw, 1rem);
    font-weight: 700;
    color: inherit;
    text-decoration-color: transparent;
    transition: 250ms ease-in-out text-decoration-color;

    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }
</style>
