---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { WebPage } from '../types/Page.mts';
interface Props {
  title: string;
  subPages?: WebPage[];
}

const siteTitle = 'Grayson Gail West';
const { title, subPages } = Astro.props;
const titleFormatted = title ? `${title} | ${siteTitle}` : siteTitle;
import '../styles/index.css';
import Hero from '../components/Hero.astro';
import Values from '../components/Values.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{titleFormatted}</title>
  </head>

  <body>
    <Header />
    <main>
      <Hero title={title} pages={subPages} />
      <slot name='intro' />
      <Values />

      <slot />
    </main>
    <Footer />
  </body>

  <style>
    html {
      background: #13151a;
      background-size: 224px;
    }

    header {
      position: sticky;
      min-height: 100px;
    }

    body {
      margin: 0;
      background: var(--color-background);
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 42px;
      padding: 16px;
      color: var(--white);
    }
  </style>
</html>
